@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
#header{
	height: 100px;
	width: 100%;
	text-align: center;
	background-color: RGBA(211, 71, 76, .5);
	h1{
		line-height: 100px;
	}
}
.section{
	width: 80%;
	padding: 0 10% 20px 10%;
	background-color: RGBA(220, 207, 165, .5);
	h2{
		width: 100%;height: 50px;
		line-height: 50px;
		text-indent: 2em;
	}
	ul{
		li{
			@h:100px;
			list-style: none;
			display: inline-block;
			width: @h;height: @h;
			background-color: RGBA(16, 52, 86, .5);
			margin: 10px 10px;
			border-radius: @h;
			line-height: @h;
			transition:all .5s;
			&:hover{
				border-radius: @h*.2;
				background-color: RGBA(16, 52, 86, 1);
			}
			a{
				display: block;
				width: 100%;height: 100%;
				text-align: center;
				text-decoration: none;
				color: RGBA(225, 239, 209, 1);
			}
		}
	}
}