#content{
    padding-top: 50px;
}
#mttApp{
    position: relative;
}
#mttAppBtn{
    position: absolute;
    right: 4%;
    top: 5%;
    width: 20%;
    height: 10%;
}
#mttAppBtn a,a:hover,a:link,a:visited{
    background-color: transparent;
}
#btn-ios{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-image: url("http://mttsmart.oss-cn-beijing.aliyuncs.com/mtt%2Fdownload-ios.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
#btn-android{
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 100%;
    height: 15%;
    background: url("http://mttsmart.oss-cn-beijing.aliyuncs.com/mtt%2Fdownload-android.png") no-repeat 0 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
#mttAppBtn img{
    position: absolute;
    left: 0;
    bottom: 40%;
    width: 100%;
}


#headWeixinCode{
    z-index: 99;
    position: absolute;
    right: 13%;
    top: 59px;
}