@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 20px;
}
#container {
  width: 100%;
  padding: 20px;
  background-color: #eee;
  border: 1px solid #999;
  overflow: hidden;
  box-sizing: border-box;
}
#left {
  padding: 20px;
  float: left;
  width: 160px;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 14px;
}
#left img {
  width: 80px;
  vertical-align: top;
}
#content {
  padding: 20px;
  margin-left: 220px;
  margin-right: 140px;
  background-color: #fff;
  border: 1px solid #999;
}
#right {
  float: right;
  padding: 20px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #999;
}
#right ul {
  width: 100%;
}
#right ul li {
  list-style: none;
  width: 100%;
  margin-top: 10px;
}
#right ul li img {
  width: 80px;
  border: 1px solid #999;
}
footer {
  background-color: #333;
  height: 100px;
  line-height: 100px;
  color: #003;
  text-align: center;
}
