<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>清除浮动</title>
	<style>
		div.item {border: 1px solid; padding: 5px;}
      	div.item img {float: left; margin: 5px;}
      	div.clearer{clear:left;line-height: 0;height: 0}
	</style>
</head>
<body>
	 <div class="item">
       <img src="../../img/c1-logo.png" alt="" />
       Widget 6144
       <br>$39.95
       <div class="clearer"></div>
      </div>
      <div class="item">
       <img src="../../img/c1-logo.png" alt="" />
       Widget 6145
       <br>$44.95
       <div class="clearer"></div>
      </div>
    
</body>
</html>